/*Pie de página*/
footer{
    height: 58%;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    text-align: center;
    background-color: #1676E5;
    color: white;
    font-size: 300%;
}
.f{
    padding-left: 15%;
}
.y{
    padding-left: 15%;
}
/*Slider*/
* {
    margin: 0;
    padding: 0;
    font-family: lato;
}
.slider-frame {
    width: 100%;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
}
.slider-frame ul {
    display: flex;
    padding: 0;
    width: 700%;
    animation: slide 25s infinite alternate ease-in-out;
}
.slider-frame li {
    width: 100%;
    list-style: none;
}
.slider-frame img {
    width: 100%;
 }
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    30% {margin-left: -100%;}
    35% {margin-left: -200%;}
    40% {margin-left: -200%;}
    45% {margin-left: -300%;}
    50% {margin-left: -300%;}
    55% {margin-left: -400%;}
    60% {margin-left: -400%;}
    65% {margin-left: -500%;}
    70% {margin-left: -500%;}
    75% {margin-left: -600%;}
    100% {margin-left: -600%;}
}
/*Fecha y Hora*/
  *{
        padding: 0;
        margin: 0;
    }
    legend{
  font-size: 30px;
  text-align: center;
  color: black;
}
#reloj{
  font-size: 30px;
  color: black;
  text-align: center;
}
/*Menú*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "open sans";
    }
    nav{
        max-width: 100%;
        margin: auto;
        background-color: white;
        font-size: 30px;
        margin-top: 0;
    }
    .menu-horizontal{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .menu-horizontal > li > a{
        display: green;
        padding: 15px 20px;
        color: #1676E5;;
        text-decoration: none;
    }
    .menu-horizontal > li:hover{
        background-color: white;
    }
    .menu-vertical{
        position: absolute;
        display: none;
        list-style: none;
        width: 200px;
        background-color: rgba(0, 0, 0, .0.5);
    }
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical{
    background-color: white;
}
.menu-vertical li a{
    display: block;
    color: #1676E5;;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
/*Adaptar Pantalla*/
.resolucion {
    width: 99%;
    text-align: center;
}

 @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}
@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
#contenedor {
    width: 90%;
    max-width: 1024px;
}
img {
    max-width: 100%;
    height: auto;
}